{%extends 'base.html' %} 
{%block title%} {{posts.name}} {%endblock%}
{% block content %}
    <a href="{%url 'new_post' posts.id%}" class="btn btn-primary">New Post</a>
    {%for i in posts.PostBoard.all%}
            <div class="card">
                <div class="card-header">
                    <a href="" class="card-header">{{i.author}}</a>
                </div>
                <div class="card-body">
                    <h4 class='card-title'><a href="{%url 'post' i.id%}">{{i.text}}</a></h4>
                    <a href="{%url 'post_comment' i.id 'p'%}" class="card-link">Reply</a>
                    <a href="{%url 'post_vote' i.id '1' 'p'%}" class="card-link">+1</a>
                    {%for k,v in vote.items%}
                        {%if k == i.id%}
                        <span class='card-link'>{{v}}</span>
                        {%endif%}
                    {%endfor%}    
                    <a href="{%url 'post_vote' i.id '-1' 'p'%}" class="card-link">-1</a>
                    {%for k,v in com.items%}
                        {%if k == i.id%}
                        <span class='card-link'>Comments({{v}})</span>
                        {%endif%}
                    {%endfor%}    
                </div>
            </div> 
        <br>
    {%endfor%}
{% endblock %}