{%extends 'base.html' %} 
{%block title%} {{comment.text}} {%endblock%}
{% block content %} 
    <div class="jumbotron">
        <h3>{{comment.text}}</h3>
        <h6>{{comment.detail}}</h6>
    </div>
    {%for i in comment.CommentPost.all%}
        <div class="card">
            <div class="card-body">
                <p class='card-title'>( <a href="">{{i.from_user}}</a> ) {{i.text}}</p>
                <a href="" class="card-link">Reply</a>
                <a href="" class="card-link">+1</a>
                <a href="" class="card-link">-1</a>
            </div>
        </div>
    {%endfor%}
{% endblock %}