{%extends 'base.html' %} 
{%block title%} {{comment.text}} {%endblock%}
{% block content %} 
    <div class="jumbotron">
        <h3>{{comment.text}}</h3>
        <h6>{{comment.detail}}</h6>
        <a href="{%url 'post_vote' comment.id '1' 'p'%}" class="card-link">+1</a>
        <span class='card-link'>{{vote}}</span>
        <a href="{%url 'post_vote' comment.id '-1' 'p'%}" class="card-link">-1</a>
        <span class='card-link'>Comments({{com}})</span>
    </div>
    {%for i in comment.CommentPost.all%}
        <div class="card">
            <div class="card-body">
                <p class='card-title'>( <a href="">{{i.from_user}}</a> ) {{i.text}}</p>
                <a href="{%url 'post_vote' i.id '-1' 'c'%}" class="card-link">+1</a>
                 {%for k,v in comVote.items%} 
                    {%if k == i.id%}
                        <span class='card-link'>{{v}}</span>
                    {%endif%} 
                {%endfor%}
                <a href="{%url 'post_vote' i.id '-1' 'c'%}" class="card-link">-1</a>
            </div>
        </div>
    {%endfor%}
{% endblock %}